<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="NeoIMOSKEntities" connectionString="metadata=res://*/NeoIMOSK.csdl|res://*/NeoIMOSK.ssdl|res://*/NeoIMOSK.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NB02-PD04;Initial Catalog=NeoIMOSK;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>